table {
    width: 100%;
}

table td {
    padding: 20px;
}

.mat-column-description {
    width: 25% !important;
}

.mat-header-cell {
    color: #000;
    background-color:  #f1e7dd;
}

.stock-column-header {
    background-color: red;
    color: white; /* You can change the text color as needed */
}